@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Roboto:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
:root {
  --mainColor: #0a657c;
}
::selection {
  background-color: var(--mainColor);
}
h1.head {
  font-size: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* PAGEPILLING */
#pp-nav {
  bottom: 8vh;
}
#pp-nav.right {
  right: 50%;
  transform: translate(50%, 100%);
}
#pp-nav li .active span,
.pp-slidesNav .active span {
  background: var(--mainColor);
  border: 2px solid #fff !important;
}
#pp-nav li {
  display: inline-block;
}
.section {
  background: url(../img/bg.jpg) no-repeat fixed center;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

/* NAV SECTION*/
.nav {
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 10;
}
.nav .logo {
  float: left;
  margin-left: 1.5rem;
  font-size: 40px;
  color: var(--mainColor);
  font-family: "Dancing Script", cursive;
}
.nav ul {
  position: relative;
  top: -100px;
  float: right;
  margin: 0.5rem 2rem;
  right: 5rem;
  transition: all 0.5s linear;
}
.nav ul li a {
  color: rgba(255, 255, 255, 0.5);
}
.nav ul li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  margin: auto 1rem;
  display: inline;
  list-style: none;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}
.nav ul li:hover a {
  color: #fff;
}
.nav ul.active {
  top: 0;
  transition: all 0.5s linear;
}
.nav ul li.active a {
  color: #fff;
  border-bottom: 3px solid;
}
.nav .menuBtn {
  color: #fff;
  font-size: 30px;
  position: fixed;
  right: 2.5rem;
  top: 1.7rem;
  cursor: pointer;
}

/* SIDE CONTENT */
.side-content .line1,
.side-content .line2 {
  position: absolute;
  right: 3rem;
  width: 1px;
  height: 20vh;
  border-right: 1px solid;
}
.side-content .line1 {
  top: 17vh;
}
.side-content .line2 {
  bottom: 17vh;
}
.side-content .social {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.side-content .social li {
  font-size: 25px;
  margin-bottom: 1rem;
  display: block;
  list-style: none;
  cursor: pointer;
}
.side-content .social li:hover {
  color: rgba(255, 255, 255, 0.5);
}
.side-content hr {
  border: none;
  border-bottom: 1px solid;
  width: 15vw;
  position: absolute;
  bottom: 10vh;
  right: 3rem;
}
.side-content h3 {
  width: max-content;
  font-size: 3rem;
  position: fixed;
  bottom: 7vh;
  right: 18vw;
  margin-right: 2rem;
  font-family: "Bebas Neue", cursive;
}
.side-content h3 span {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

/* MAIN SECTION */
h1.mianTitle {
  position: absolute;
  font-size: 8rem;
  font-family: "Roboto", sans-serif;
  text-align: right;
  right: 6rem;
  top: 50%;
  transform: translate(0, -50%) !important;
}
.box {
  position: absolute;
  bottom: 15vh;
  left: 30vw;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 10px;
}
.box h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 2.5rem;
  width: fit-content;
}
.box p {
  color: rgba(255, 255, 255, 0.5);
}
.box button {
  color: #fff;
  background-color: inherit;
  border: 2px solid #fff;
  padding: 0.3rem 0.8rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  letter-spacing: 3px;
  cursor: pointer;
}
.box button:hover {
  background-color: #fff;
  color: var(--mainColor);
}

/* MEDIA QUERY */
@media (min-width: 1200px) {
  .box {
    left: 30vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1.mianTitle {
    font-size: 7rem;
  }
  .box {
    left: 20vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav ul {
    margin-top: 0.7rem;
  }
  .nav ul li {
    font-size: 25px;
  }
  .header .mianTitle {
    font-size: 7rem;
  }
  .box {
    left: 10vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  h3.logo {
    color: #fff !important;
    font-size: 35px !important;
  }
  .nav ul {
    margin: 0.7rem 0.5rem 0 0;
  }
  .nav ul li {
    font-size: 25px;
    margin: auto 0.5rem;
  }
  .header .mianTitle {
    font-size: 7rem;
  }
  .side-content h3 {
    margin-right: 3rem;
    font-size: 2.5rem;
  }
  .side-content h3 span {
    font-size: 2rem;
  }
  .box {
    display: none;
  }
}
@media (max-width: 575px) {
  .nav {
    padding: 1rem;
    width: 100%;
  }
  .nav h3.logo {
    color: #fff;
    font-size: 35px;
  }
  .nav ul {
    top: -400px;
    margin: auto;
    margin-top: 0.5rem;
    right: 0;
    float: left;
    width: 88%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav ul li {
    font-size: 25px;
    margin: 0.3rem 1rem;
    font-size: 20px;
    border-left: 3px solid rgba(255, 255, 255, 0.2);
    padding-left: 1rem;
    display: block;
  }
  .nav ul li.active {
    border-bottom: none;
    border-left: 3px solid #fff;
  }
  .side-content .line1 {
    margin-top: -2rem;
  }
  .side-content .line2 {
    margin-bottom: -1.5rem;
  }
  .side-content h3 {
    margin-right: 3rem;
  }
  .header .mianTitle,
  h1.head {
    font-size: 5rem;
  }
  .box {
    display: none;
  }
}
@media (max-width: 450px) {
  .nav {
    width: 105%;
  }
  h1.head {
    font-size: 3rem;
  }
}